[optimizer]
optimizer = Adam 

[Adam]
lr = 0.001
beta_1 = 0.9
beta_2 = 0.999
epsilon = 1e-04
decay = 0.0005
amsgrad = False

[SGD]
lr = 0.01
momentum = 0.0
decay = 0.0
nesterov = False

[RMSprop]
lr = 0.001
rho = 0.9
epsilon = None
decay = 0.0

[Adagrad]
lr = 0.01
epsilon = None
decay = 0.0

[Adadelta]
lr = 1.0
rho = 0.95
epsilon = None
decay = 0.0

[Adamax]
lr = 0.002
beta_1 = 0.9
beta_2 = 0.999
epsilon = None
decay = 0.0

[Nadam]
lr = 0.002
beta_1 = 0.9
beta_2 = 0.999
epsilon = None
schedule_decay = 0.004
