; basic configuration file

[General]

type = multi_train
mva_path = train_multi
print_options = True

[ROOT]

tree = utm/t

[Tensorflow]

gpucores = 4

[Training]

method = dnn_multi
topology = RELU:160,DO:0.30,RELU:120,DO:0.30,SM:12
epochs = 300
batchsize = 512
validationsize = 0.2
weights =weight_pu
	weight_lsf
 	weight_csv

 
[Files]

multi_train =/ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/train/THQ_ctcvcp_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
	/ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/train/THW_ctcvcp_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root 
	/ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/train/TTTo2L2Nu_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_1b.root
	/ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/train/TTTo2L2Nu_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_2b.root
	/ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/train/TTTo2L2Nu_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_bb.root
	/ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/train/TTTo2L2Nu_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_cc.root
	/ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/train/TTTo2L2Nu_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_lf.root
	/ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/train/TTToSemilepton_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_1b.root
	/ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/train/TTToSemilepton_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_2b.root
	/ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/train/TTToSemilepton_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_bb.root
	/ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/train/TTToSemilepton_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_cc.root
	/ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/train/TTToSemilepton_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_lf.root

multi_test = /ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/test/THQ_ctcvcp_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
	/ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/test/THW_ctcvcp_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
	/ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/test/TTTo2L2Nu_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_1b.root
        /ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/test/TTTo2L2Nu_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_2b.root
        /ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/test/TTTo2L2Nu_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_bb.root
	/ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/test/TTTo2L2Nu_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_cc.root
        /ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/test/TTTo2L2Nu_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_lf.root
        /ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/test/TTToSemilepton_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_1b.root
        /ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/test/TTToSemilepton_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_2b.root
        /ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/test/TTToSemilepton_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_bb.root
        /ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/test/TTToSemilepton_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_cc.root
        /ceph/tfriedrich/tH-19th-Jan-19/3m/even/train_class/test/TTToSemilepton_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8_lf.root
 




[Variables]

variables = (nel_t==1&&nmu_t==0)*Alt$(el_t_charge[0],0)+(nel_t==0&&nmu_t==1)*Alt$(mu_t_charge[0],0)
	log(reco_ttbar_tophad_m)
	j_csv[reco_thq_hdau_idx[0]]	
	j_csv[reco_thq_hdau_idx[1]]
	log(reco_thq_h_pt)
	j_csv[reco_ttbar_whaddau_idx[0]]
	j_csv[reco_ttbar_whaddau_idx[1]]
	log(j_pt[reco_thq_lq_idx])
	abs(j_eta[reco_thq_lq_idx])
	abs(reco_thq_h_eta-reco_thq_top_eta)
	j_costheta_l[reco_thq_btop_idx]
	wolframh1
	log(m3)
	aplanarity
	reco_thq_costhetastar
	log(reco_thq_h_m)
	reco_ttbar_whad_dr
	reco_thw_best_bdtout
	log(abs(reco_thw_wb_pt))
