; basic configuration file

[General]

type = multi_train
mva_path = train_multi
print_options = True

[ROOT]

tree = utm/t

[Tensorflow]

gpucores = 4

[Training]

method = dnn_multi
topology = RELU:80,DO:0.15,RELU:80,DO:0.15,SM:3
epochs = 30
batchsize = 512
validationsize = 0.2
weights = weight_pu
	weight_deepcsv_medium_nominal
	weight_lsf

[Files]

multi_train = /local/scratch/ssd1/nfaltermann/s-channel/sig_1_2016.root
	    /local/scratch/ssd1/nfaltermann/s-channel/bkg_1_2016.root
	    /local/scratch/ssd1/nfaltermann/s-channel/bkg_3_2016.root

multi_test = /local/scratch/ssd1/nfaltermann/s-channel/sig_1_2016_t.root
	   /local/scratch/ssd1/nfaltermann/s-channel/bkg_1_2016_t.root
	   /local/scratch/ssd1/nfaltermann/s-channel/bkg_3_2016_t.root


[Variables]

variables = met_pt
	  wolframh0_30
	  rec_delta_phi_top_from_leadingbjet_subleadingbjet
	  rec_delta_phi_top_from_subleadingbjet_leadingbjet
	  mtw
	  rec_top_m
	  rec_delta_R_top_bjet_from_w
	  rec_diff_top_bjet_from_w_pt
	  rec_delta_phi_top_leadingbjet
	  wolframh3_30
	  rec_delta_eta_top_from_subleadingbjet_leadingbjet
	  rec_delta_eta_top_bjet
	  rec_delta_phi_bjet_bjet
	  rec_lep_pt
	  rec_delta_eta_lep_leadingbjet
	  sphericity_30
	  aplanarity_30
	  sumHtTotal_tag
	  j_pt[index_leadingjet]
	  j_e[index_leadingjet]
	  j_eta[index_leadingjet]
	  j_pt[index_subleadingjet]
	  j_e[index_subleadingjet]
	  j_eta[index_subleadingjet]
