; basic configuration file

[General]

type = multi_train
mva_path = train_multi
print_options = True

[ROOT]

tree = utm/t

[Tensorflow]

gpucores = 4

[Training]

method = dnn_multi
topology = RELU:100,DO:0.30,RELU:100,DO:0.30,SM:8
epochs = 300    
batchsize = 500 
validationsize = 0.2
weights =weight_pu
	weight_lsf
 	weight_csv

 
[Files]



multi_train =/portal/ekpbms2/home/ktauqeer/root_testing/train_class/TTTo2L2Nu_TTToSemilepton_train_merged_1b.root
        /portal/ekpbms2/home/ktauqeer/root_testing/train_class/TTTo2L2Nu_TTToSemilepton_train_merged_2b.root
        /portal/ekpbms2/home/ktauqeer/root_testing/train_class/TTTo2L2Nu_TTToSemilepton_train_merged_bb.root
        /portal/ekpbms2/home/ktauqeer/root_testing/train_class/TTTo2L2Nu_TTToSemilepton_train_merged_cc.root
	/portal/ekpbms2/home/ktauqeer/root_testing/train_class/TTTo2L2Nu_TTToSemilepton_train_merged_lf.root
	/portal/ekpbms2/home/ktauqeer/root_testing/train_class/THQ_ctcvcp_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
	/portal/ekpbms2/home/ktauqeer/root_testing/train_class/THW_ctcvcp_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
	/portal/ekpbms2/home/ktauqeer/root_testing/train_class/ttHTobb_M125_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8.root
	

multi_train_class = 0
		1
		2
		3	
		4
		5
		6
		7
				
				
	
			
			
	
multi_train_plot_labels = TT_1b
		TT_2b
		TT_bb
		TT_cc
		TT_lf
		THQ
		THW
		TTH
			

multi_test =/portal/ekpbms2/home/ktauqeer/root_testing/test_class/TTTo2L2Nu_TTToSemilepton_test_merged_1b.root
	/portal/ekpbms2/home/ktauqeer/root_testing/test_class/TTTo2L2Nu_TTToSemilepton_test_merged_2b.root
	/portal/ekpbms2/home/ktauqeer/root_testing/test_class/TTTo2L2Nu_TTToSemilepton_test_merged_bb.root
	/portal/ekpbms2/home/ktauqeer/root_testing/test_class/TTTo2L2Nu_TTToSemilepton_test_merged_cc.root
	/portal/ekpbms2/home/ktauqeer/root_testing/test_class/TTTo2L2Nu_TTToSemilepton_test_merged_lf.root
	/portal/ekpbms2/home/ktauqeer/root_testing/test_class/THQ_ctcvcp_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
	/portal/ekpbms2/home/ktauqeer/root_testing/test_class/THW_ctcvcp_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
	/portal/ekpbms2/home/ktauqeer/root_testing/test_class/ttHTobb_M125_TuneCUETP8M2_ttHtranche3_13TeV-powheg-pythia8.root


multi_test_class =  0
		1
		2
		3	
		4
		5
		6
		7
		
		

	
multi_test_plot_labels =  TT_1b
                TT_2b
                TT_bb
                TT_cc
		TT_lf
		THQ
		THW
		TTH


[Variables]

variables = (nel_t==1&&nmu_t==0)*Alt$(el_t_charge[0],0)+(nel_t==0&&nmu_t==1)*Alt$(mu_t_charge[0],0)
	log(reco_ttbar_tophad_m)
	j_csv[reco_thq_hdau_idx[0]]	
	j_csv[reco_thq_hdau_idx[1]]
	log(reco_thq_h_pt)
	j_csv[reco_ttbar_whaddau_idx[0]]
	j_csv[reco_ttbar_whaddau_idx[1]]
	log(j_pt[reco_thq_lq_idx])
	abs(j_eta[reco_thq_lq_idx])
	abs(reco_thq_h_eta-reco_thq_top_eta)
	j_costheta_l[reco_thq_btop_idx]
	wolframh1
	log(m3)
	aplanarity
	reco_thq_costhetastar
	log(reco_thq_h_m)
	reco_ttbar_whad_dr
	reco_thw_best_bdtout
	log(abs(reco_thw_wb_pt))
	btag2
	btag3
	btag4
	hardest_nontag_CvsB_3
	hardest_nontag_CvsL_3
	j_pt1
	j_pt3
	avg_j_csv_btag
	avg_j_csv
	min_btag_disc_value
	j_csv4
	num_tight_btag
	avg_sq_diff
	avg_jet_mass
	ss_pt_btag
	ss_pt_lep_jets
	c_j_lep
	max_deltaR
	min_deltaR
	avg_deltaR
