; basic configuration file
[General]

type = reco_train
mva_path = train_reco
print_options = True

[ROOT]

tree = utm/t

[Tensorflow]

gpucores = 4

[Training]

method = dnn
epochs = 10
batchsize = 512
validationsize = 0.2
weights = weight_pu
	weight_csv
	weight_lsf

[Files]

reco_samples = /ceph/nfaltermann/reco_testfiles/THQ_ctcvcp_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1_onepercent.root

[Variables]

variables = j_pt
	  j_eta
	  j_phi
	  j_csv

variables_truth = gen_thq_btop_eta
		gen_thq_btop_phi
		gen_thq_h_eta
		gen_thq_h_phi
		gen_thq_lq_eta
		gen_thq_lq_phi
		gen_thq_sb_eta
		gen_thq_sb_phi
		gen_thq_top_eta
		gen_thq_top_phi
		gen_thq_w_eta
		gen_thq_w_phi
		gen_thq_hdau_eta[0]
		gen_thq_hdau_phi[0]
		gen_thq_hdau_eta[1]
		gen_thq_hdau_phi[1]
		gen_thq_wdau_eta[0]
		gen_thq_wdau_phi[0]
		gen_thq_wdau_eta[1]
		gen_thq_wdau_phi[1]
