; basic configuration file

[General]

type = train
mva_path = train_s-channel_2016
print_options = True

[ROOT]

tree = utm/t

[Tensorflow]

gpucores = 4

[Training]

method = dnn
topology = RELU:80,DO:0.25,RELU:80,DO:0.25,SIG:1
epochs = 300
batchsize = 512
validationsize = 0.2
weights = weight_pu
	weight_deepcsv_medium_nominal
	weight_lsf

[Files]

signal = sig_1_2016.root
       sig_2_2016.root
signal_test =  sig_1_2016_t.root
	    sig_2_2016_t.root

background = bkg_1_2016.root
	   bkg_2_2016.root
	   bkg_3_2016.root
	   bkg_4_2016.root
background_test = bkg_1_2016_t.root
		bkg_2_2016_t.root
		bkg_3_2016_t.root
		bkg_4_2016_t.root

[Variables]

variables = met_pt
	  wolframh0_30
	  rec_delta_phi_top_from_leadingbjet_subleadingbjet
	  rec_delta_phi_top_from_subleadingbjet_leadingbjet
	  mtw
	  rec_top_m
	  rec_delta_R_top_bjet_from_w
	  rec_diff_top_bjet_from_w_pt
	  rec_delta_phi_top_leadingbjet
	  wolframh3_30
	  rec_delta_eta_top_from_subleadingbjet_leadingbjet
	  rec_delta_eta_top_bjet
	  rec_delta_phi_bjet_bjet
	  rec_lep_pt
	  rec_delta_eta_lep_leadingbjet
	  sphericity_30
	  aplanarity_30
	  sumHtTotal_tag
